* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;     /* or 'contain' depending on your needs */
    background-position: center;
    background-attachment: fixed; /* optional: keeps background in place while scrolling */
    /* background-color: rgb(3, 4, 49); */
    background-color: rgb(17, 16, 16);
}

.navbar {
    background-color: rgb(34, 168, 7);
}

.navbar-buttons{
    display:flex;
    justify-content:center;
    align-items:end;
    gap: 20px;
    width: auto;
    height: auto;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.text {
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 3px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    animation: typing 2.1s steps(25) forwards, cursor 1s step-end infinite;
}

.desc1 {
    font-size: 30px;
    white-space: normal;  /* so it wraps */
    border: none;         /* remove typing border */
    overflow: visible;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fade 1s ease-out forwards;
    animation-delay: 2.7s;
    opacity: 0;
}

.desc2 {
    font-size: 30px;
    white-space: normal;  /* so it wraps */
    border: none;         /* remove typing border */
    overflow: visible;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fade 1s ease-out forwards;
    animation-delay: 3.2s;
    opacity: 0;
}

@keyframes cursor{
    0% {
        border-color: rgb(255, 255, 255);
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: rgb(255, 255, 255);
    }
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 58.5%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}