body {
    background-color: #010626;
}

.navbar-buttons{
    display:flex;
    justify-content:center;
    align-items:end;
    gap: 200px;
    width: auto;
    height: auto;
}

.github-button{
    background: none;
    border: white;
    padding: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.linkedin-button{
    background: none;
    border:rgb(255, 255, 255);
    padding: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.resume-button{
    background: none;
    border:rgb(255, 255, 255);
    padding: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.text{
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 3px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(25) forwards, cursor 1s step-end infinite;
}

.construction{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  0vh;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
}

@keyframes cursor{
    0% {
        border-color: rgb(255, 255, 255);
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: rgb(255, 255, 255);
    }
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 23%;
    }
}
