
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.text{
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 3px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(25) forwards, cursor .6s step-end infinite;
}

@keyframes cursor{
    40%{
        border-color: transparent;
    }
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 39%;
    }
}
